<div class="container p-5">
    <div *ngIf="posts.length === 0">
      <p>Loading posts...</p>
    </div>
    <div class="list-group" *ngIf="posts.length > 0">
      <a *ngFor="let post of posts" href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.title}}</h5>
          <small>{{post.id}}</small>
        </div>
        <p class="mb-1">{{post.body}}</p>
      </a>
    </div>
  </div>